#nav{
	width: 300px;
	background: linear-gradient(to bottom,#f9fbcb,#f8f8f3)
}
.ongtitle{
	font-size: 16px;
	text-indent: 1em;
	line-height: 30px;
	background-color: #518700
}
p{
	font-size: 12px;
	line-height: 28px;
	text-indent: 2em;

}
li{
	list-style-type: none;
	font-size: 12px;
	line-height: 28px;
	text-indent: 2em;
}
ul li a{
	color: #1a66b3;
	text-decoration: none;
}
ul li a:hover{
	text-decoration: underline;
	color: #1a66b3;
}
ul li:nth-of-type(1){
	background:url(../image/book_no01.gif) 0 center no-repeat;
}
ul li:nth-of-type(2){
	background: url(../image/book_no05.gif) 4px center no-repeat;
}