div {
	margin:10px;
	padding:5px;
}
#father {
	border:1px #000 solid;

}
.layer01 {
	border:1px #F00 dashed;
	float:left;
}
.layer02 {
	border:1px #00F dashed;
	float:right;
}
.layer03 {
	border:1px #060 dashed;
	float:left;
}
.layer04 {
	border:1px #666 dashed;
	font-size:12px;
	line-height:23px;
	width: 200px;
	float:left;
}
/*方法四：after伪类清除浮动*/
.clear:after{
	content: '';          /*在clear后面添加内容为空*/
	display: block;      /*把添加的内容转化为块元素*/
	clear: both;          /*清除这个元素两边的浮动*/
}